<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/images/airline-icon.png" alt="user-img" title="P/D Airline" class="rounded-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
            </div>
            <h5><a href="#">P/D</a> </h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a id="changePassword" href="#">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="/admin/logout" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Thanh công cụ</li>

                <li class="has_sub">
                    <a href="/flight/" class="waves-effect"><i class="mdi mdi-airplane"></i><span>Chuyến bay</span></a>
                </li>

                <li class="has_sub">
                    <a href="/airport/" class="waves-effect"><i class="mdi mdi-airport"></i><span>Sân bay</span></a>
                </li>

                <li class="has_sub">
                    <a href="/customer" class="waves-effect"><i class="mdi mdi-account-group"></i><span>Khách hàng</span></a>
                </li>

                <li class="has_sub">
                    <a href="/seat/" class="waves-effect"><i class="mdi mdi-seatbelt "></i><span>Hạng ghế</span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-areaspline"></i> <span>Thống kê</span></a>
                    <ul class="list-unstyled">
                        <li><a href="/report/month/">Theo tháng</a>
                        <li><a href="/report/year/">Theo năm</a>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>